// Font Family
$font-1: "Poppins", sans-serif;

// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f9f9f9;

// Theme Color
$theme-color: #009485;

//Body Color
$body-color: #5a5872;

// Border Color
$border-color: #5a5872;

// Heading Color
$heading-color: #2b2a3d;

// Soft color
$black-soft: #7e7e7e;

// Responsive Variables
$desktop: "only screen and (min-width: 1400px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
